body{
    margin: 0px;
}

.container{
    width: 100vw;
    height: 100vh;
    background: #6C7A89;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box{
    width: 50%;
    height: 50%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 1px 1px 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo-principal{
    text-align: center;
    border-bottom: 1px solid black;
}

label{
    font-size: 24px;
}

.input-padrao{
    border:none;
    border-bottom: 2px solid black;
    text-align: center;
}

.btn-converter{
    background-color: #6C7A89;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: 1px 1px 4px black;
}